{% extends 'main/layout.html' %}
{% block title %}services{% endblock %}
{% block head %}
<link rel="icon" href="https://freefrontend.com/favicon.ico">
<link rel="stylesheet" href="/static/main/css/form.css">
<link rel="stylesheet" href="/static/main/css/main.css">
{% endblock %}

{% block body %}

<style>
    .column-center{
        width: 55%;
        padding-left: 50px;
    }
</style>
<!--        КОНТЕЙНЕР ВЕРХНЕЙ ШАПКИ-->

<header id="top" xmlns="http://www.w3.org/1999/html">
            <div class="column-left">
                <i class="fas fa-clipboard-list fa-3x" ></i>
            </div>
            <div class="column-center">
                <h1>Форма записи на ремонт</h1>
            </div>
            <div class="column-right">
                <a href="{% url 'main' %}"><button class="button1">На главную</button></a>
            </div>
</header>
<!--        КОНТЕЙНЕР формы-->
        <div class="page">
            <form method="post" action="{% url 'main' %}">
                {% csrf_token %}
                <div>
                        <input type="hidden" name="login" value="{{ request.user.id }}" />
                        <label class="field field_v1">
                            {{ form.name }}
                            <span class="field__label-wrap">
                                <span class="field__label">Имя</span>
                            </span>
                        </label>

                      <label class="field field_v2">
                          {{ form.tel }}
                          <span class="field__label-wrap">
                            <span class="field__label">Телефон</span>
                          </span>
                      </label>

<!--                        {{ form.type_work }}<br><br>-->
                        {% if type == 1 %}
                            <select name="type_work" value="{{ form.type_work }}">
                                <option selected="selected" value="1">ДВС</option>
                                <option value="2">Плановое ТО</option>
                                <option value="3">Ходовая часть и трансмиссия</option>
                                <option value="4">Кузовной ремонт</option>
                            </select>
                        {% elif type == 2 %}
                            <select name="type_work" value="{{ form.type_work }}">
                                <option value="1">ДВС</option>
                                <option selected="selected"  value="2">Плановое ТО</option>
                                <option value="3">Ходовая часть и трансмиссия</option>
                                <option value="4">Кузовной ремонт</option>
                            </select>
                        {% elif type == 3 %}
                            <select name="type_work" value="{{ form.type_work }}">
                                <option value="1">ДВС</option>
                                <option value="2">Плановое ТО</option>
                                <option value="3">Ходовая часть и трансмиссия</option>
                                <option selected="selected" value="4">Кузовной ремонт</option>
                            </select>
                        {% elif type == 4 %}
                            <select name="type_work" value="{{ form.type_work }}">
                                <option value="1">ДВС</option>
                                <option value="2">Плановое ТО</option>
                                <option selected="selected" value="3">Ходовая часть и трансмиссия</option>
                                <option value="4">Кузовной ремонт</option>
                            </select>
                        {% endif %}

                      <label class="field field_v3">
                          {{ form.date }}
                          <span class="field__label-wrap">
                            <span class="field__label">Дата</span>
                          </span>
                      </label>

                       <label class="field field_v3">
                          {{ form.time }}
                          <span class="field__label-wrap">
                            <span class="field__label">Время</span>
                          </span>
                      </label>

                        <span>{{ error }}</span>
                </div>
                <button class="button5" type="submit">Отправить заявку</button>
<!--                <input type="text" placeholder="Имя" class="form-controll"><br><br>-->
<!--                <input type="tel" placeholder="Телефон" class="form-controll"><br><br>-->
<!--                <textarea placeholder="Дополнительно" class="form-controll"></textarea><br>-->
<!--                <p> Дата и время на которое хотите записаться</p><br>-->
<!--                <input type="date" class="form-controll"><br><br>-->
<!--                <input type="time" class="form-controll"><br><br>-->
<!--                <button class="btn-success" type="submit">Отправить заявку</button>-->
            </form>
        </div>


{% endblock %}