
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>


    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    {% block head %}{% endblock %}


</head>

<body>


    {% block body %}{% endblock %}


<!--        КОНТЕЙНЕР НИЖНЕЙ ШАПКИ-->


       <div id="link3" class="under-body">
           <img class="brend-title1" src="http://127.0.0.1:8000/static/main/img/logo.png" alt="сергей" align="left">

           <table cellspacing="0" cellpading="10" align="right">
               <tr>
                    <th><p>Контакты:</p><br></th>
                    <th><a href="tel:+375445444462">+375 44 674-45-62</a><br>
                   <a href="tel:+375445444462">+375 29 920-07-19</a></th>
                   <th><p>Адресс:</p><br></th>
                   <th>
                       <a href="#contact"><p>г.Минск, ул. Первомайская, д.35</p><br></a>
                   </th>

               </tr>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>

           </table>

        </div>





</body>
</html>