
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>


    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    {% block head %}{% endblock %}


</head>

<body>


    {% block body %}{% endblock %}


<!--        КОНТЕЙНЕР НИЖНЕЙ ШАПКИ-->


       <div id="link3" class="under-body">
           <img class="brend-title1" src="http://127.0.0.1:8000/static/main/img/logo.png" alt="сергей" align="left">

           <table cellspacing="0" cellpading="10" align="right">
               <tr>
                    <th><p>Контакты:</p><br></th>
                    <th><a href="tel:+375445444462">+375 44 674-45-62</a><br>
                   <a href="tel:+375445444462">+375 29 920-07-19</a></th>
                   <th><p>Адресс:</p><br></th>
                   <th><section class="map">
                        <div class="container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19601.20475037521!2d23.76252517966114!3d52.113388683420794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210ee80d4787b5%3A0xc45242c809a952e8!2z0JDQstGC0L7RgdC10YDQstC40YEgLSDQmtGA0LDQudCQ0LLRgtC-!5e0!3m2!1sru!2sby!4v1636033401336!5m2!1sru!2sby" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div></section>
                   </th>


               </tr>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>

           </table>

        </div>





</body>
</html>