{% extends 'main/layout.html' %}
{% block title %} Главная {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/main/css/main.css">
<link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}

<!--        Окно сообщения о отправленной заявке-->

<div class="messages">
                {% if var == 1 %}
                    <div class="notif notif-color-3">
                    <p>Ваша заявка оставлена.<br>Мы свяжемся с вами!<p>

                    <div class="notif-progress"></div>

                    </div>


                {%else%}

                {% endif %}
</div>

<!--        КОНТЕЙНЕР ВЕРХНЕЙ ШАПКИ-->
<div class="header">
        <header id="top" >


            <div class="column-left">
                <img class="brend-title" src="/static/main/img/logo.png" alt="сергей">
            </div>
            <div class="column-center">
            <nav class="menu-title">
                    <a class="nav_link" href="#link1">Услуги</a>
                    <a class="nav_link" href="#link2">О нас</a>
                    <a class="nav_link" href="#link3">Контакты</a>
                </nav>
            </div>
            <div class="column-right">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'personalAccount' %}"><button class="button1">Личный кабинет</button></a>
                    <a href="{% url 'exit' %}"><button class="button1">Выйти</button></a>
                {%else%}
                    <a href="{% url 'logout' %}"><button class="button1">Войти</button></a>
                {% endif %}




            </div>
        </header>
</div>
<!--        КОНТЕЙНЕР Телефон -->

<div type="button" class="callback-bt" >
    <div class="text-call">
        <i class="fa fa-phone"></i>
        <a href="#register"><br>Заказать<br>звонок</a>
    </div>
</div>

<div id="register" class="modalDialog">
	<div>
		<a href="#close" title="Закрыть" class="close"></a>

        <div class="center">
            <h1> Оставьте заявку </h1>
                <form method="post" action="{% url 'main' %}">
                    {% csrf_token %}

                    <div class="inputbox">
                        {{ form.name }}
                        <span>Имя</span>
                    </div>
                    <div class="inputbox">
                        {{ form.tel }}
                        <span>Телефон</span>
                    </div>
                    <span>{{ error }}</span>

                    <div class="inputbox">
                        <a><button class="button2" type="submit">Отправить</button></a>
                    {% for message in messages %}
					<p id="messages">{{message}}</p>
				    {% endfor %}
                    </div>
                </form>

            </div>

	</div>
</div>



<!--        КОНТЕЙНЕР НАШИ УСЛУГИ-->

    <div id="link1" class="baner-work">
        <h2 style="text-align:center;font-size:34px" class="font_2"><span>УСЛУГИ</span></h2>
        <div class="post-wrap">


            <div class="post-item">
            <div class="post-item-wrap">
            <a href="{% url 'form' %}" class="post-link">
            <div class="image-wrapper">
            <img src="/static/main/img/03.png">
            </div>
            <div class="text-wrapper">
            <div class="post-cat">Двигатель:</div>
            <h3 class="post-title">1. Диагностика <br>  Цена: 30р</h3></h3>
            <h3 class="post-title">2. Замена масла <br>  Цена: 50р</h3></h3>
            <h3 class="post-title">3. Комплексное ТО:
                <br>  * замена масла
                <br>  * замена маслянного и воздушного фильтра
                <br>  Цена: 150р</h3>
            </div>
            <div class="overlay"></div></a>
            </div>
            </div>

            <div class="post-item">
                <div class="post-item-wrap">
                    <a href="{% url 'form' %}" class="post-link">
                    <div class="image-wrapper">
                        <img src="/static/main/img/01.png">
                    </div>
                    <div class="text-wrapper">
                        <div class="post-cat">Диагностка</div>
                        <h3 class="post-title">1. Делаем компьютерную диагностику</h3>
                        <h3 class="post-title">2. Находим неисправности</h3>
                        <h3 class="post-title">3. Устраняем поломки</h3>
                        <h3 class="post-title">С нами у вы чувствуете себя в безопастности.<br>
                            У нас работают только опытные и высококвалифицирование специалисты</h3>
                    </div>
                    <div class="overlay"></div></a>
                </div>
            </div>

            <div class="post-item">
            <div class="post-item-wrap">
            <a href="{% url 'form' %}" class="post-link">
            <div class="image-wrapper">
            <img src="/static/main/img/04.png">
            </div>
            <div class="text-wrapper">
            <div class="post-cat">Photo</div>
            <h3 class="post-title">Simple photo</h3>
            </div>
            <div class="overlay"></div></a>
            </div>
            </div>
            <div class="post-item">
            <div class="post-item-wrap">
            <a href="{% url 'form' %}" class="post-link">
            <div class="image-wrapper">
            <img src="/static/main/img/02.png">
            </div>
            <div class="text-wrapper">
            <div class="post-cat">Photo</div>
            <h3 class="post-title">Simple photo</h3>
            </div>
            <div class="overlay"></div></a>
            </div>
            </div>
        </div>
    </div>

<!--        КОНТЕЙНЕР О НАС-->
        <div class="baner-txt">
            <div id="link2" class="box-title"><h2>О нас</h2></div>

                <div class="txt">
                    <p>Наш автосервис в Минске успешно выполняет техобслуживание различных моделей BMW с 2011 года. BMW Service Minsk специализируется на всех моделях БМВ.</p>
                    <p>Современное оборудование и опытные специалисты помогут провести диагностику, выявить неисправность и устранить поломку любой сложности в различных узлах. BMW Service Minsk выполнит профессиональное техобслуживание автомобиля и восстановит работоспособность всех систем в Минске. Просторный бокс на 2 подъемника.</p>
                    <p>Будем рады Вам!</p>
                </div>
            <img src="/static/main/img/about-car.png" alt="">
        </div>




{% endblock %}

        
        