
.blockInfo{
    text-align: center;
}
.serviceInfo {
    margin-left: 38%;
    width: 300px;
    height: auto;
    background: #bfc4c7;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    }
