/* кнопка скрола вверх*/
#myBtn {
    display: none;
    position: fixed;
    width: 55px;
    bottom: 15px;
    left: 15px;
    z-index: 99;
    color: #ffeaa7;
    padding: 8px;
    font-size: 12px;
    background: #1f2029;
    border: 1px solid #1f2029;
    border-radius: 3px;
    text-transform: lowercase;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    transition: .2s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn a {
    color: var(--primary);
    text-decoration: none;
}
* {
    scrollbar-color: #ffeaa7 #1f2029;
    scrollbar-width: thin;
}
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background-color: #1f2029;
    border-radius: 20px;
    border-left: 1px solid #ffeaa7;
}

/*кнопка звонка*/

.callback-bt {
        background:#38a3fd;
        border:2px solid #38a3fd;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(56,163,253,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 5%;
        bottom: 15%;
        z-index:999;
        transition:.3s;
        -webkit-animation:hoverWave linear 1s infinite;
        animation:hoverWave linear 1s infinite;
}

.text-call a{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size:14px;
    text-decoration: none
}


.callback-bt .text-call{
text-align:center;

        height:68px;
        width:68px;
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#38a3fd;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
        z-index:1;
        background:#fff;
        color:transparent;
        transition:.3s;
}
.callback-bt:hover i {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}
.callback-bt i {
        color:#fff;
        font-size:34px;
        transition:.3s;
        line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
/* конец кнопки звонка */


/*Окно уведомления после отправки телефона и имени*/

.notif {
position: fixed; /*позиционирование кнопки фиксированное*/
 z-index: 99999; /*отображаем поверх всех элементов*/
 bottom: 0%; /*положение снизу*/
 right: 0.5%; /*положение справа*/
 background: url('../img/top.png') no-repeat; /*фон, можно указать любую картинку*/
 opacity: .6; /*прозрачность*/

 width: 260px;
 margin: 0 auto 25px auto;
 padding: 30px 20px;
 text-align: left;
 border-radius: 12px;
 opacity: 0;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 cursor: default;
 display: none;

}


.notif p {
 text-align: left;
 font-weight: bold;
 font-size: 16px;
 margin: 0;

}


.notif p:before {

 text-align: center;
 border: 3px solid rgba(255, 255, 255, 1);
 margin-top: -18px;
 top: 50%;
 right: 25px;
 width: 30px;
 content: '!';
 font-size: 30px;
 color: rgba(255, 255, 255, 1);
 position: absolute;
 height: 30px;
 line-height: 30px;
 border-radius: 50%;

}


.notif-progress {
 width: 0;
 height: 10px;
 background: rgba(255,255,255,0.5);
 position: absolute;
 bottom: 5px;
 left: 3%;
 border-radius: 12px;

}

.notif-color-3{
 background: #00B16A;

}


.notif-color-3 p {
 color: #FFF;

}

.notif {

 display: block;
 -webkit-animation: fadeOut 3s linear forwards;
 -moz-animation: fadeOut 3s linear forwards;
 -o-animation: fadeOut 3s linear forwards;
 -ms-animation: fadeOut 3s linear forwards;
 animation: fadeOut 3s linear forwards;

}


.notif .notif-progress {
 -webkit-animation: runProgress 2s linear forwards 0.7s;
 -moz-animation: runProgress 2s linear forwards 0.7s;
 -o-animation: runProgress 2s linear forwards 0.7s;
 -ms-animation: runProgress 2s linear forwards 0.7s;
 animation: runProgress 2s linear forwards 0.7s;

}


@-webkit-keyframes fadeOut {
 0% { opacity: 0; }
 10% { opacity: 1; }
 90% { opacity: 1; -webkit-transform: translateY(0px);}
 99% { opacity: 0; -webkit-transform: translateY(-25px);}
 100% { opacity: 0; }

}




@-webkit-keyframes runProgress {
 0%{ width: 0%; }
 100%{ width: 94%; }

}





.notif:nth-child(2) {
 -webkit-animation-duration: 4s;
 -moz-animation-duration: 4s;
 -o-animation-duration: 4s;
 -ms-animation-duration: 4s;
 animation-duration: 4s;

 -webkit-animation-delay: 0.2s;
 -moz-animation-delay: 0.2s;
 -o-animation-delay: 0.2s;
 -ms-animation-delay: 0.2s;
 animation-delay: 0.2s;

}


.notif:nth-child(2) .notif-progress {
 -webkit-animation-duration: 3s;
 -moz-animation-duration: 3s;
 -o-animation-duration: 3s;
 -ms-animation-duration: 3s;
 animation-duration: 3s;

 -webkit-animation-delay: 0.7s;
 -moz-animation-delay: 0.7s;
 -o-animation-delay: 0.7s;
 -ms-animation-delay: 0.7s;
 animation-delay: 0.7s;

}


.notif:nth-child(3) {
 -webkit-animation-duration: 9s;
 -moz-animation-duration: 9s;
 -o-animation-duration: 9s;
 -ms-animation-duration: 9s;
 animation-duration: 9s;

 -webkit-animation-delay: 0.4s;
 -moz-animation-delay: 0.4s;
 -o-animation-delay: 0.4s;
 -ms-animation-delay: 0.4s;
 animation-delay: 0.4s;

}


.notif:nth-child(3) .notif-progress {
 -webkit-animation-duration: 7.5s;
 -moz-animation-duration: 7.5s;
 -o-animation-duration: 7.5s;
 -ms-animation-duration: 7.5s;
 animation-duration: 7.5s;

 -webkit-animation-delay: 0.9s;
 -moz-animation-delay: 0.9s;
 -o-animation-delay: 0.9s;
 -ms-animation-delay: 0.9s;
 animation-delay: 0.9s;

}




/*карты*/
.map {
    padding: 0px 10px;
    text-align: center;
}

.container {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}
/*исчезающее сообщение при заполнение заявки*/

#messages {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        opacity: 0;

    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        opacity: 0;

    }
}


/*Описание блока заполнения заявки*/
.phone form{
  }

/*ВЕРХНЯЯ ШАПКА*/
.column-left{ float: left; width: 20%; text-align: center}
.column-right{ float: right; width: 20%; text-align: center;padding-top: 27px;}
.column-center{ display: inline-block; width: 60%; text-align: center}



.header header{
    width:100%;
    height: 709px;
    font-family: Arial;
    font-size: 18px;
    background: url(../img/main.jpg);
    background-size:cover;

}

/*Значок бмв в шапке*/
.brend-title{
    margin: 15px 90px;

}
/*кнопки меню в шапке*/
.menu-title{
    display:inline-block;
    width: auto;
    font-size: 25px;
    padding-top: 28px;
}


.nav_link{
    margin-right: 100px;
    color: rgb(11, 11, 13);
    text-decoration: none

}

.button1{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
.button1:hover {
  background: #1d49aa;
}

.button1:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.menu-title a{
  font-size:27px;
  padding: 20px 0px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; /* Время изменения цвета */
}
.menu-title a:hover{
  color: #fff; /* Меняем цвет ссылки */
}

/*КОНТЕЙНЕР Телефон*/

.modalDialog {
	position: fixed;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
	width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;


}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 15px;
}

.close:hover {
 background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
 }

.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="submit"] {
border-radius: 10px;
height: 83%;
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="submit"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}


/*КОНТЕЙНЕР НАШИ УСЛУГИ*/

.baner-work{

    width: auto;
    height: 330px;
    margin: 3% 103px;

}
.baner-work h2{
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}

* {
   margin: 0;
   box-sizing: border-box;
}

.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-wrap: nowrap;
   align-items: center;
}
.post-item {
   padding: 10px;
}
.post-link {
   text-decoration: none;
   display: block;
}
.post-item-wrap {
   overflow: hidden;
   position: relative;
}
.post-item img {
   display: block;
   width: 100%;

}
.text-wrapper {
   position: absolute;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 10;
   width: 86%;
   padding: 20px;
   background: linear-gradient(to right,#DBDBDC,#B0C9C9);

   transform: translate3d(-100%, 0, 0);
   transition: transform .5s cubic-bezier(.33, .02, 0, .93);
}
.post-item:hover .text-wrapper {
   transform: translate3d(0, 0, 0);
   transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
}
.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 5;
   background:#B0C9C9;
   transform: translate3d(-100%, 0, 0);
   transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
}
.post-item:hover .overlay {
   transform: translate3d(0, 0, 0);
   transition: transform .5s cubic-bezier(.33, .02, 0, .93);
}
.post-cat {
   text-transform: uppercase;
   margin-bottom: 5px;
   color: #000200;
   font-weight: 700;
}
.post-title {
   font-size: 16px;
   font-weight: 500;
   color: #4A4A40;
   font-style: italic;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}


/*Контейнер О НАС*/

.baner-txt{
    margin: 0px 90px 50px 90px;
    width: auto;

}

}
.box-title {
    font-weight: bold;
    color: #000;

}
.txt {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


/*НИЖНЯЯ ШАПКА*/
.under-body{
    padding-top: 30px;
    width: auto;
    height: 220px;
    background: url(../img/banner-left.jpg), url(../img/banner-right.jpg);


}
.col{
    width: 20px;
}
.brend-title1{
    margin-left: 90px;

}

/* ТАБЛИЦА НИЖНЕЙ ШАПКИ*/
table {

    padding-right: 320px;
    margin: -36px;
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    border-color: grey;
}


/*ТЕЛО*/

html{
    scroll-behavior: smooth;
}
body{

}

