/*Окно уведомления после отправки телефона и имени*/

	.n-success{
	width:100px;
height:120px;
 position: fixed; /*позиционирование кнопки фиксированное*/
 z-index: 9999; /*отображаем поверх всех элементов*/
 bottom: 20%; /*положение снизу*/
 right: 5%; /*положение справа*/
 opacity: .6; /*прозрачность*/
 padding: 10px; /*внутренние отступы*/
 margin: 5px 15px 15px 5px; /*внешние отступы*/

    color: #333;
    border-radius: 2px;
    background: #fff;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    border: 2px solid #32a846;
    color: #32a846;

}

.messages{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 7s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 0s; /* Задержка перед началом */
}
@keyframes show{
0%{
opacity:0;
}
80%{
opacity:1;
}
100% {
opacity:0;
}
}

/*карты*/
.map {
    padding: 0px 10px;
    text-align: center;
}

.container {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}
/*исчезающее сообщение при заполнение заявки*/

#messages {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        opacity: 0;

    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        opacity: 0;

    }
}


/*Описание блока заполнения заявки*/
.phone form{
  }

/* анимация услуг*/
.box-title{

}

.tr-block {

        text-align: left;
        position: relative;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        width: 434px;
        min-height: 171px;


        background-color: #CEE0AD;
        color: #030202fd;
        padding:12px;

        margin: 29px;
        border: 2px solid #ccc;
        outline: 2px solid #ccc;
        outline-offset: 3px;
        overflow: hidden;
    }
.tr-block h2 {
       position: absolute;
       color: #1c1c1cfd;
       text-shadow: 1px 1px 1px #fbfbfb;
       transition: opacity .4s cubic-bezier(.29, -0.32, .68, .41);
    }
.tr-block:hover h2 { opacity: 0;  }
.tr-block h3 {
       color: #1c1c1cfd;
       transform: translate(-110%);
       transition: transform .5s;
    }
.tr-block:hover h3 {
       transform: translate(0);
    }
.tr-block ul {
       text-align:left;
       line-height: 1.4;
       opacity: 0;
       transform: translateY(110%);
       transition: .5s .3s;
    }
.tr-block:hover ul {
       transform: translate(0);
       opacity: 1;
    }
/*Кнопка скролла вверх*/
a.idTop {
width:48px;
height:48px;
 position: fixed; /*позиционирование кнопки фиксированное*/
 z-index: 9999; /*отображаем поверх всех элементов*/
 bottom: 7%; /*положение снизу*/
 right: 0%; /*положение справа*/
 background: url('../img/top.png') no-repeat; /*фон, можно указать любую картинку*/
 opacity: .6; /*прозрачность*/
 color: #fff; /*цвет текста*/
 padding: 10px; /*внутренние отступы*/
 margin: 5px 15px 15px 5px; /*внешние отступы*/
}
a.idTop:hover {
 opacity: 1;
}

/*ВЕРХНЯЯ ШАПКА*/
.column-left{ float: left; width: 20%; text-align: center}
.column-right{ float: right; width: 20%; text-align: center;padding-top: 27px;}
.column-center{ display: inline-block; width: 60%; text-align: center}

header{
    margin: 0;
    height: 100px;
    font-family: Arial;
    font-size: 18px;
    background: url(../img/banner-left.jpg) no-repeat left top, url(../img/banner-right.jpg) no-repeat right top;

}
/*Значок бмв в шапке*/
.brend-title{
    margin: 15px 90px;

}
/*кнопки меню в шапке*/
.menu-title{
    display:inline-block;
    width: auto;
    font-size: 25px;
    padding-top: 28px;


}

.nav_link{
    margin-right: 50px;
    color: rgb(11, 11, 13);
    text-decoration: none

}

.button1{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
.button1:hover {
  background: #1d49aa;
}

.button1:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}


/*КОНТЕЙНЕР Телефон*/

.button3 {

    position: fixed; /*позиционирование кнопки фиксированное*/
    z-index: 9999; /*отображаем поверх всех элементов*/
    bottom: 0%; /*положение снизу*/
    right: 0%; /*положение справа*/
    background: #7DBA13; /*фон, можно указать любую картинку*/
    opacity: .6; /*прозрачность*/
    color: black; /*цвет текста*/
    padding: 10px; /*внутренние отступы*/
    margin: 5px 15px 15px 5px; /*внешние отступы*/
}
a.button3:hover {
 opacity: 1;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
 background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
 }




.phone{
    display: block;
    width: 390px;
    padding-top: 30px;

}
.phone h1{
    font-size: 20px;
    text-align: center;

}
.phone p{
    font-size: 15px;
    text-align: center;
    margin: 0px 0px 30px;
}
.input {
    display: inline;
    padding-right: 20px;
	width: 300px;
	font-size: 15px;
	padding: 10px 27px 12px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 14px;
}

.button2{
    font-family: 'Dosis', sans;
    color: rgb(11, 11, 13);
    font-size: 22px;
    width: auto;
    margin: 32px 112px 8px;
    background-color: #939ac1;
    border-radius: 5px;
}

/*КОНТЕЙНЕР НАШИ УСЛУГИ*/

.baner-work{

    width: 1100px;
    height: 550px;
    margin: 0px 15%;
    padding-top: 50px;
    padding-bottom: 100px;


}
.img{
    width:100%;
}
.cont-1 {

    margin-top: 30px;
    margin-right: 50px;
    height: 100px;
    display: inline-block;
    text-align: center;

}



/*Контейнер О НАС*/

.baner-txt{
    margin: 0px 90px;
    width: auto;

}

}
.box-title {
    font-weight: bold;
    color: #000;

}
.txt {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


/*НИЖНЯЯ ШАПКА*/
.under-body{
    padding-top: 30px;
    width: auto;
    height: 220px;
    background: url(../img/banner-left.jpg), url(../img/banner-right.jpg);


}
.col{
    width: 20px;
}
.brend-title1{
    margin-left: 90px;

}

/* ТАБЛИЦА НИЖНЕЙ ШАПКИ*/
table {

    padding-right: 320px;
    margin: -36px;
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    border-color: grey;
}


/*ТЕЛО*/

html{
    scroll-behavior: smooth;
}
body{

       margin: 0px;
}

