.serviceInfo button{
margin: 4% 37% 4% 37%;
}
.tab{
margin-bottom:10px;
margin-top: 10px;
margin-left:40px;
}
.column-center{
margin-top:25px;
}
header{

     margin: 0;
    height: 100px;
    font-family: Arial;
    font-size: 18px;
    background: url(../img/banner-left.jpg) no-repeat left top, url(../img/banner-right.jpg) no-repeat right top;
}
.blockInfo{
    width: 200px;
    height: auto;

    background: #EEEDED;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
}
.blockInfo {
    float:left;
    clear:both;
    width:400px;
    margin: 20px 43%;
    text-align: left;

    }
.serviceInfo {
    min-height:500px;
    height: auto;
    width: 1250px;
    text-align: center;
    }
